<h1>НЕ РЕАЛИЗОВАНО</h1>
<table class="table">
    <thead>
        <tr>
            <th> Task№ </th>
            <th> Task info </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Для указанного интервала дат вывести список аукционов с указанием наименования, даты и места проведения</td>
            @*<td> 
                <a asp-action="Task1">Execute</a> 
            </td>*@
        </tr>
        <tr>
            <td>2</td>
            <td>Добавить на указанный пользователем аукцион на продажу предмет искусства с указанием начальной цены</td>
            @*<td>
                <a asp-action="Task2">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>3</td>
            <td>Вывести список аукционов, с указанием суммарного дохода от продажи, отсортированных по доходу</td>
            @*<td>
                <a asp-action="Task3">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>4</td>
            <td>Для указанного интервала дат, вывести список предметов, которые были проданы на аукционах в этот период времени</td>
            @*<td>
                <a asp-action="Task4">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>5</td>
            <td>Предоставить возможность добавления факта продажи на указанном аукционе заданного предмета</td>
            @*<td>
                <a asp-action="Task5">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>6</td>
            <td>Для указанного интервала дат вывести список продавцов с указанием общей суммы, полученной от продажи предметов в этот промежуток времени</td>
            @*<td>
                <a asp-action="Task6">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>7</td>
            <td>Вывести список покупателей, которые сделали приобретения в указанный интервал дат</td>
            @*<td>
                <a asp-action="Task7">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>8</td>
            <td>Предоставить возможность добавления записи о проводимом аукционе (место, время)</td>
            @*<td>
                <a asp-action="Task8">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>9</td>
            <td>Для указанного места, вывести список аукционов</td>
            @*<td>
                <a asp-action="Task9">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>10</td>
            <td>Для указанного интервала дат вывести список продавцов, которые принимали участие в аукционах, проводимых в этот период времени</td>
            @*<td>
                <a asp-action="Task10">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>11</td>
            <td>Предоставить возможность добавления и изменения информации о продавцах и покупателях</td>
            @*<td>
                <a asp-action="Task11">Execute</a>
            </td>*@
        </tr>
        <tr>
            <td>12</td>
            <td>Вывести список покупателей с указанием количества приобретенных предметов в указанный период времени</td>
            @*<td>
                <a asp-action="Task12">Execute</a>
            </td>*@
        </tr>
    </tbody>
</table>